.richtext_Container p:empty {
  margin: 20px;
}
.richtext_Container p {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-family: 'Forma DJRText Regular';
}

.richtext_Container h2,
.accordionTitleWrapper h2 {
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  font-family: 'Moister';
  margin-bottom: 20px;
}



.richtext_Container h3 {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-family: 'Moister';
  margin-bottom: 10px;
}

.richtext_Container ul {
  margin-left: 15px;
}

.richtext_Container ul li {
  list-style: disc;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-family: 'Forma DJRText Regular';
}

.name p,
.expiration p,
.function p {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-family: 'Forma DJRText Regular';
}

.name p a,
.expiration p a,
.function p a {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .richtext_Container h2 {
    margin-top: 40px;
  }
}

@media (min-width: 1536px) {
  .richtext_Container p {
    font-size: 0.911vw;
    line-height: 1.172vw;
  }
  .name p,
.expiration p,
.function p {
  font-size: 0.911vw;
    line-height: 1.172vw;
}
  .richtext_Container h2,
  .accordionTitleWrapper h2 {
    font-size: 1.302vw;
    line-height: 1.563vw;
  }
  .richtext_Container h3 {
    font-size: 0.911vw;
    line-height: 1.042vw;
  }
  .richtext_Container ul li {
    font-size: 0.911vw;
    line-height: 1.563vw;
  }
}

.cookieGroup_Wrapper {
  max-height: 0;
  height: auto;
  padding-top: 10px;
  transition: 1s all;
  visibility: hidden;
  opacity: 0;
}

.cookieGroup_Wrapper.active {
  max-height: 1000rem;
  visibility: visible;
  opacity: 1;
  padding-bottom: 20px;
}


/* accordion */
.checkbox {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}

.checkbox input {
  margin-right: 0.5rem;
}
.accordionItem_Wrapper {
  background-color: #cac2bd;
}

.accordionItem_Wrapper:not(:last-child) {
  margin-bottom: 20px;
}

@media (width <= 768px) {
  .cookieGroup_Wrapper {
    overflow-x: scroll;
  }
}

.left_content h3,
.right_content h3 {
  font-family: 'Moister';
  font-size: 15px;
  line-height: 25px;
}

.left_content p,
.right_content p,
.description p{
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-family: 'Forma DJRText Regular';
}

.left_content p a,
.right_content p a
 {
  text-decoration: underline;
}

@media (width >= 1536px) {
  .left_content h3,
  .right_content h3 {
    font-family: 'Moister';
    font-size: 0.977vw;
    line-height: 1.628vw;
  }

  .left_content p,
  .right_content p,
  .description p {
    font-size: 0.911vw;
      line-height: 1.172vw;
  }
}

