@import "tailwindcss";

.menu_Link .menu_item {
  color: #0D0D0D;
  
}
.menu_Link .menu_item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: #FFF5EF;
  transition: 0.3s ease-out;
  display: block;
  opacity: 0;
}

.contact .menu_item.dark {
  color: #0D0D0D;
  border: 0.5px solid #0D0D0D;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.6s all;
  width: max-content;
}
.contact .menu_item.light {
  color: #FFF5EF;
  border: 0.5px solid #FFF5EF;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.6s all;
  width: max-content;
}

.contact .menu_item.active.dark {
  color: #FFF5EF;
  background-color: #0D0D0D;
  width: max-content;
}

.contact .menu_item.active.light {
  color: #0D0D0D;
  background-color: #FFF5EF;
  width: max-content;
}

 .logo.dark {
  color: #0D0D0D;
}

 .logo.light {
  color: #FFF5EF;
}

.contact .menu_item.dark:hover {
  color: #FFF5EF;
  background-color: #0D0D0D;
}

.contact .menu_item.light:hover {
  color: #0D0D0D;
  background-color: #FFF5EF;
}

.menu_Link .menu_item.dark {
  color: #0D0D0D;
}

.menu_Link .menu_item.light {
  color: #FFF5EF;
}

.menu_Link .menu_item.dark::after {
  background-color: #0D0D0D;
}

svg.light g line {
  stroke: #FFF5EF;
}

svg.dark g line {
  stroke: #0D0D0D;
}

.menu_Link .menu_item.light::after {
  background-color: #FFF5EF;
}

.menu_Link .menu_item.active.light::after {
  background-color: #FFF5EF;
}

.menu_Link .menu_item.active.dark::after {
  background-color: #0D0D0D;
}

.menu_Link:hover .menu_item::after {
  transform-origin: bottom center;
}

.menu_Link .menu_item:hover:after {
  opacity: 1;
}

.menu_Link .menu_item.active::after {
  opacity: 1;
}

.mobile_icons {
  position: absolute;
  top: -3px;
  right: 0;
  cursor: pointer;
  transition: 0.7s all;
}

.mobile_icons.open {
  right: 10px;
}

.mobile_icons.close {
  top: -14px;
}

.mobile_icons.open.hide {
  opacity: 0;
  visibility: hidden;
}

.mobile_icons.open.show {
  opacity: 1;
  visibility: visible;
}

.mobile_icons.close.hide {
  opacity: 0;
  visibility: hidden;
}

.mobile_icons.close.show {
  opacity: 1;
  visibility: visible;
}

/* mobile */

.Mobile_Header {
  opacity: 0;
  visibility: hidden;
  transition: 0.7s all;
  top: -55px;
  left: 0;
}
.Mobile_Header.show {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.Mobile_Header::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  top: 0;
  left: 0;
  background-color: #0D0D0D;
  transition: transform 0.3s ease-out;
  display: block;
}

.Mobile_Header.show::after {
  transform-origin: bottom center;
  transform: scaleX(1);
}

.contact h2,
.services h2,
.about h2 {
  font-size: 13px;
  letter-spacing: 0.91px;
  line-height: 21px;
  color: #F8F3E9;
  font-family: 'Moister';
}

.contact p:empty,
.services p:empty,
.about p:empty {
  margin: 20px;
}

.contact p,
.services p,
.about p {
  font-size: 13px;
  line-height: 0.26px;
  line-height: 21px;
  color: #F8F3E9;
}

.contact p:not(:empty),
.services p:not(:empty),
.about p:not(:empty) {
  margin-bottom: 10px;
}

.contact p a,
.services p a,
.about p a {
  position: relative;
}
.contact  a,
.services  a,
.about  a {
  position: relative;
  width: max-content;
}

.contact p a::after,
.services p a::after,
.about p a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #F8F3E9;
  transition: transform 0.3s ease-out;
  display: block;
}

.footer_descriptions .contact  a::after,
.footer_descriptions .services  a::after,
.footer_descriptions .about  a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #F8F3E9;
  transition: transform 0.3s ease-out;
  display: block;
}

.footer_links > a {
  position: relative;
}

.footer_links>a::after {
  content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #F8F3E9;
    transition: transform 0.3s ease-out;
    display: block;
}

.footer_descriptions .footer_links>a:hover:after {
  transform-origin: bottom center;
    transform: scaleX(1);
}

.footer_descriptions .contact p a:hover:after,
.footer_descriptions.services p a:hover:after,
.footer_descriptions .about p a:hover:after {
  transform-origin: bottom center;
  transform: scaleX(1);
}

.contact  a:hover:after,
.services  a:hover:after,
.about  a:hover:after {
  transform-origin: bottom center;
  transform: scaleX(1);
}

.info p {
  font-size: 10px;
  color: #F8F3E9;
  letter-spacing: -0.1px;
  line-height: 19px;
  margin-bottom: 1px;
}

.contact-emails p:empty {
  margin: 20px;
}

.header-container.dark::after {
  background-color: #fff5ef;
}
.header-container.light::after {
  background-color: #0D0D0D;
}

.header-container.dark::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  height: 100%;
  z-index: -1;
  opacity: 0;
  max-height: 0;
  transform: translateY(-200%);
  transition: 0.7s all;
}

.header-container {
  transition: 0.7s all;
}

.header-container.light::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  height: 100%;
  z-index: -1;
  opacity: 0;
  max-height: 0;
  transform: translateY(-200%);
  transition: 0.7s all;
}

.header-container.dark.active::after {
  opacity: 1;
}

.header-container.active::after {
  max-height: 1000rem;
  opacity: 0.5;
  transform: translateY(0);
}



@media (width >= 1024px) {
  .contact-emails p:empty {
      margin: 40px;
    }
    .contact-emails p  {
      width: max-content;
    }
    .header-container.active {
      padding-top: 30px;
      padding-bottom: 30px;
    }
}

@media (width >= 1536px) {
  .header-container.active {
    padding-top: 1.953vw;
    padding-bottom: 1.953vw;
  }
}

.subMenuItems-Wrapper.mobile {
  transition: 1s ease-in-out;
}

.subMenuItems-Wrapper {
  opacity: 0;
  visibility: hidden;
  height: auto;
  max-height: 0;
  transition: 0.7s all;
}

.subMenuItems-Wrapper.active {
  opacity: 1;
  visibility: visible;
  max-height: 1000rem;
}

@media (width <= 768px) {
  .footer_descriptions,
  .info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .descriptions_relative {
    min-height: 0;
    margin-bottom: 0px;
    height: auto;
    overflow: hidden;
    transition: 0.6s ease-in-out;
  }

  .descriptions_relative.active {
    min-height: 200px;
  }

  .footer_descriptions .contact,
  .footer_descriptions .services,  
  .footer_descriptions .about, 
  .footer_descriptions .info {
    opacity: 0;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 0;
    transition: 0.6s all;
  }

  .footer_descriptions .contact.active,
  .footer_descriptions .services.active,  
  .footer_descriptions .about.active, 
  .footer_descriptions .info.active {
    opacity: 1;
    z-index: 10;

  }

  .footer_descriptions .contact h2,
  .footer_descriptions .services h2,  
  .footer_descriptions .about h2, 
  .footer_descriptions .info h2 {
    text-transform: uppercase;
  }

  .footer_descriptions .contact p,
  .footer_descriptions .services p,  
  .footer_descriptions .about p, 
  .footer_descriptions .info p {
    text-transform: uppercase;
  }
}

/* @media (width >= 500px) and (width <= 767px) {
  .footer_descriptions {
    flex-direction: row;
    justify-content: space-between !important;
    align-items: self-start;
  }

  .footer_descriptions .contact, 
  .footer_descriptions .services,  
  .footer_descriptions .about, 
  .footer_descriptions .info {
    width: 50%;
  }
} */

.footer_menus div:not(:last-child)::after {
  content: "/";
  position: relative;
  width: 1px;
  height: 100%;
  margin-left: 10px;
}