.BannerSection {
  position: relative;
  overflow: hidden;
}

.BannerSection .contents_banner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: auto;
  max-height: fit-content;
  padding-left: 14px;
  padding-right: 14px;
}

.BannerSection .background-image {
  position: relative;
}

.BannerSection video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_description p {
  color: #FFF5EF;
  font-size: 13px;
  letter-spacing: 0.26px;
  line-height: 16px;
  max-width: 469px;
}

@media (min-width: 768px) {
  .BannerSection .content.bottom_center {
    top: auto;
    left: 0;
    right: 0;
    padding-left: 42px;
    padding-right: 42px;
  }
  .contents_banner {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .contents_banner.bottom_left {
      top: auto;
      left: 32px;
      right: 0;
      bottom: 100px;
  }
    .contents_banner.bottom_right {
      top: auto;
      left: 0;
      right: 32px;
      bottom: 100px;
    }
    .contents_banner.top_right {
      top: 0;
      left: 0;
      right: 32px;
      bottom: auto;
    }
    .contents_banner.top_left {
      top: 0;
      left: 109px;
      right: 0;
      bottom: auto;
    }
}

@media (min-width: 1024px) {
  .BannerSection .content.bottom_center {
    top: auto;
    left: 0;
    right: 0;
    padding-left: 42px;
    padding-right: 42px;
  }

  .contents_banner {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .contents_banner.bottom_left {
    top: auto;
    left: 109px;
    right: 0;
    bottom: 100px;
  }

  .contents_banner.bottom_right {
    top: auto;
    left: 0;
    right: 109px;
    bottom: 100px;
  }

  .contents_banner.top_right {
    top: 0;
    left: 0;
    right: 109px;
    bottom: auto;
  }

  .contents_banner.top_left {
    top: 0;
    left: 109px;
    right: 0;
    bottom: auto;
  }
}

@media (min-width: 768px) {
  .BannerSection .content {
    bottom: 47px;
  }
}

.content.top_center {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: max-content;
  padding-top: 47px;
}


.titleOnImage {
  top: 0;
  left: 14px;
  bottom: 0;
  margin: auto;
  transform: translate(0, 50%);
  text-align: left;
}

@media (min-width: 1024px) {
  
  .titleOnImage {
    top: 52%;
    left: 55px;
    bottom: auto;
    transform: translate(0, 50%);
    text-align: center;
  }
}