
.contents-wrapper h3 {
  font-family: 'AktivGrotesk Medium';
  font-size: 14px;
  line-height: 16px;
  color: black;
  margin-bottom: 18px;
}

@media (min-width: 1024px) {
  .contents-wrapper h3 {
  margin-left: -15px;

  }
}

.contents-wrapper ul li {
  list-style: disc;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-family: 'Aktiv Grotesk Regular';
  margin-bottom:10px;
}
.destination-item-wrapper:nth-child(odd) {
  background-color: #FFFFFF;
}

.destination-item-wrapper:nth-child(even) {
  background-color: #F5F7FA;
}

@media (min-width: 1536px) {
  .contents-wrapper ul li {
    font-size: 0.911vw;
    line-height: 1.172vw;
  }
    .contents-wrapper h3 {
      font-size: 0.911vw;
      line-height: 1.042vw;
    }
}

.destination-item-wrapper:first-child {
  padding-top: 0 !important;
}

@media (max-width: 1024px) {
  .contents-wrapper ul {
    padding-left: 20px;
  }
}