
.description p:empty {
  margin: 20px;
}

.description {
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.26px;
}

.button {
  transition: 0.5s all;
}

.button:hover {
  color: #FFF5EF;
  background-color: #0D0D0D;
}

.text_with_image:nth-child(2) .text_with_image_wrapper {
  margin-top: 50px;
  padding-top: 50px;
}

.text_with_image .text_with_image_wrapper.addPaddingTop {
  padding-top: 50px;
  padding-bottom: 50px;
}

.item_description {
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: 20px;
  color: #0D0D0D;
}

  .text_with_image .text_with_image_wrapper.randomPY {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .text_with_image_contents.center_contents {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

@media (width >= 1024px) {
    .large {
      aspect-ratio: 16/18.1;
    }

    .medium {
      /* aspect-ratio: 16/16; */
      height: 600px;
    }
    
    .text_with_image .text_with_image_wrapper.addPaddingTop {
      padding-top: 75px;
      padding-bottom: 75px;
      margin-bottom: 0px !important;
    }
  .text_with_image:last-child.text_with_image_wrapper {
    padding-bottom: 50px;
  }
  .text_with_image:last-child .text_with_image_wrapper {
    margin-bottom: 50px;
  }
  .text_with_image .text_with_image_wrapper {
    margin-top: 50px;
    padding-top: 50px;
  }
  .item img {
    aspect-ratio: 16/12.65;
  }

  .text_with_image_contents.center_contents {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .text_with_image .text_with_image_wrapper.randomPY {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (width >= 1280px) {
  .large {
    aspect-ratio: 16/18.4;
  }
  .medium {
    aspect-ratio: 16/16;
    height: auto;
  }
  .item img {
    aspect-ratio: 16/9.85;
  }
}

@media (width >=1536px) {
  .large {
    aspect-ratio: 16/15;
  }
  .medium {
    aspect-ratio: 16/14.74;
    height: auto;
  }
  .item img {
    aspect-ratio: 16/8;
  }

  .description {
    color: #fff;
    font-size: 0.846vw;
    line-height: 1.302vw;
    letter-spacing: 0.017vw;
  }


  .item_description {
    font-size: 0.781vw;
    letter-spacing: 0.016vw;
    line-height: 1.302vw;
    color: #0D0D0D; }
}

