.image-block-content p {
  font-size: 13px;
  line-height: 20px;
  color: #000427;
}
/* .button_url::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: #000;
  opacity: 0;
  transition: 0.7s all;
} */

/* .button_url:hover:after {
  width: 100%;
  opacity: 0.7;
} */

/* .button_url::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #0D988C;
  transition: transform 0.3s ease-out;
  display: block;
}

.button_url:hover:after{
  transform-origin: bottom center;
  transform: scaleX(1);
} */

.button_url {
  border-radius: 5px;
  background-color: #000427;
  padding: 3.5px 5px;
  transition: 0.7s all;
  border: 0.5px solid #000427;
  width: 110px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button_url:hover {
  background-color: #FFF5EF;
  color: #000427;
}

@media (min-width: 1024px) {
  .image-block-content {
    font-size: 0.846vw;
  line-height: 1.302vw;
  }
}