@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Moister';
  src: url('/fonts/Moister-Regular.eot');
  src: url('/fonts/Moister-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Moister-Regular.woff2') format('woff2'),
    url('/fonts/Moister-Regular.woff') format('woff'),
    url('/fonts/Moister-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans Italic';
  src: url('/fonts/DMSans-LightItalic.eot');
  src: url('/fonts/DMSans-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DMSans-LightItalic.woff2') format('woff2'),
    url('/fonts/DMSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans Regular';
  src: url('/fonts/DMSans-Light.eot');
  src: url('/fonts/DMSans-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DMSans-Light.woff2') format('woff2'),
    url('/fonts/DMSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Forma DJRText Regular';
  src: url('/fonts/FormaDJRText-Regular.eot');
  src: url('/fonts/FormaDJRText-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/FormaDJRText-Regular.woff2') format('woff2'),
    url('/fonts/FormaDJRText-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.moinster_regular {
  font-family: 'Moister';
}

.dm_sans_italic {
  font-family: 'DM Sans Italic';
}

.dm_sans_regular {
  font-family: 'DM Sans Regular';
}

.forma_regular {
  font-family: 'Forma DJRText Regular';
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
  background-color: #FFF5EF;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Forma DJRText Regular';
}

.gray {
  background-color: #F5F7FA;
}

.white {
  background-color: #fff;
}

.landing_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}



.pop_up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 1;
  transition: 0.7s all;
  width: 100%;
  border-radius: 10px;
}

.pop_up.active {
  z-index: 0;
  opacity: 0;
  visibility: hidden;
}

.firstContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF5EF;
  width: 100%;
  max-width: 559px;
  border-radius: 10px;
  transition: 1s all;
  z-index: 1;
}

.firstContent.hide {
  opacity: 0;
  z-index: 0;
  transition-delay: 1s;
}

.loader_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 0;
}

.loader_wrapper.active {
  opacity: 1;
  z-index: 999;
}

.loader_wrapper.hide {
  opacity: 0 !important;
  z-index: 0;
}

.secondContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF5EF;
  width: 100%;
  max-width: 559px;
  border-radius: 10px;
  transition: 1s all;
  transition-delay: 1s;
}

.secondContent {
  opacity: 0;
  z-index: 0;
}

.secondContent.active {
  opacity: 1;
  z-index: 1;
}

.loader {
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid #00042780;
  /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.richtext:last-child .richtext_Container {
  padding-top: 0 !important;
}

.pop_up.hide,
.overlay.hide {
  z-index: 0;
  opacity: 0;
  visibility: hidden;
}

.pop_up.firstContent {
  z-index: 9999;
}
.pop_up.hide.secondContent {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}

.pop_up.secondContent .secondContent,
.pop_up.secondContent {
  opacity: 1;
  z-index: 9999;
}

.pop_up.secondContent .secondContent.hide {
  opacity: 0;
  z-index: 0;
}

/* forma_regular text-center text-[#00042780] text-[10px] tracking-[0.2px] leading-[20px] */

.popup1_description > p,
.popup2_description > p {
  text-align: center;
  font-size: 12px;
  color: #00042780;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-family: 'Forma DJRText Regular';
}
