@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Moister';
  src: url('/fonts/Moister-Regular.eot');
  src: url('/fonts/Moister-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Moister-Regular.woff2') format('woff2'),
    url('/fonts/Moister-Regular.woff') format('woff'),
    url('/fonts/Moister-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Forma DJR Banner';
  src: url('/fonts/FFormaDJRText-Regular.eot');
  src: url('/fonts/FFormaDJRText-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/FFormaDJRText-Regular.woff2') format('woff2'),
    url('/fonts/FFormaDJRText-Regular.woff') format('woff'),
    url('/fonts/FFormaDJRText-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.moinster_regular {
  font-family: 'Moister';
}

.forma_djr {
  font-family: 'Forma DJR Banner';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #FFF5EF;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Aktiv Grotesk Regular", Arial, sans-serif;
}

.gray {
  background-color: #F5F7FA;
}

.white {
  background-color: #fff;
}

.landing_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}