

.telephone p,
.email p,
.address p {
  color: #0D0D0D;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.24px;
  font-family: 'Forma DJRText Regular';
  position: relative;
}

.telephone h2 ,
.email h2 ,
.address h2 {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Moister';
  color: #0D0D0D !important;
}

.form_title {
  color: #0D0D0D !important;
  font-size: 20px !important;
  line-height: 29px !important;
  letter-spacing: 1.4px !important;
}

.telephone p:empty,
.email p:empty,
.address p:empty {
  margin: 20px;
}

.drop-down-item {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.drop-down-item.active {
  max-height: 1000px;
  transition: max-height 1s ease-in-out;
}


@media (min-width: 1536px) {
  .telephone p,
    .email p,
    .address p {
      font-size: 12px;
      line-height: 16px;
      color: #0D0D0D;
    }
  
    .telephone h2,
    .email h2,
    .address h2 {
      font-size: 20px;
        letter-spacing: 1.4px;
        line-height: 29px;
      color: #0D0D0D;
    }
}

.telephone p {
  width: max-content;
}

.telephone p a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #0D0D0D;
  transition: transform 0.3s ease-out;
  display: block;
}

.telephone p:hover a::after {
  transform-origin: bottom center;
  transform: scaleX(1);
}

.contact_description {
  max-width: 345px;
}

.contact_description p {
  color: #0D0D0D;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: 16px;
  font-family: 'Forma DJRText Regular';
}

.map > div {
  border-radius: 10px;
}

button {
  border-radius: 5px;
  background-color: transparent;
  padding-top: 4px !important;
  padding: 2px 5px;
  transition: 0.7s all;
  border: 0.5px solid #000427;
  display: inline-flex;
  justify-content: center;
  width: 110px;
  align-items: center;
}

button:hover {
  background-color: #000427;
  color: #FFF5EF;
}

.meetingTypeItem:not(:last-child) {
  border-bottom: 1px solid #0D0D0D;
}