@font-face {
  font-family: 'Aktiv Grotesk Armn Italaic';
  src: url('/fonts/AktivGroteskArmn-Italic.eot');
  src: url('/fonts/AktivGroteskArmn-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AktivGroteskArmn-Italic.woff2') format('woff2'),
    url('/fonts/AktivGroteskArmn-Italic.woff') format('woff'),
    url('/fonts/AktivGroteskArmn-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aktiv Grotesk Armn Light Italic';
  src: url('/fonts/AktivGroteskArmn-LightItalic.eot');
  src: url('/fonts/AktivGroteskArmn-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AktivGroteskArmn-LightItalic.woff2') format('woff2'),
    url('/fonts/AktivGroteskArmn-LightItalic.woff') format('woff'),
    url('/fonts/AktivGroteskArmn-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aktiv Grotesk Armn Medium Italic';
  src: url('/fonts/AktivGroteskArmn-MediumItalic.eot');
  src: url('/fonts/AktivGroteskArmn-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AktivGroteskArmn-MediumItalic.woff2') format('woff2'),
    url('/fonts/AktivGroteskArmn-MediumItalic.woff') format('woff'),
    url('/fonts/AktivGroteskArmn-MediumItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aktiv Grotesk Armn Bold Italic';
  src: url('/fonts/AktivGroteskArmn-SemiBoldItalic.eot');
  src: url('/fonts/AktivGroteskArmn-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AktivGroteskArmn-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/AktivGroteskArmn-SemiBoldItalic.woff') format('woff'),
    url('/fonts/AktivGroteskArmn-SemiBoldItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aktiv Grotesk Regular';
  src: url('/fonts/AktivGrotesk-Regular.eot');
  src: url('/fonts/AktivGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AktivGrotesk-Regular.woff2') format('woff2'),
    url('/fonts/AktivGrotesk-Regular.woff') format('woff'),
    url('/fonts/AktivGrotesk-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AktivGrotesk Medium';
  src: url('/fonts/AktivGrotesk-Medium.eot');
  src: url('/fonts/AktivGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AktivGrotesk-Medium.woff2') format('woff2'),
    url('/fonts/AktivGrotesk-Medium.woff') format('woff'),
    url('/fonts/AktivGrotesk-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


.aktiv_regular {
  font-family: 'Aktiv Grotesk Regular';
}

.aktiv_medium {
  font-family: 'AktivGrotesk Medium';
}

.telephone p,
.email p,
.address p {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-family: 'Aktiv Grotesk Regular';
  position: relative;
}

.telephone h2 ,
.email h2 ,
.address h2 {
  font-size: 14px;
  line-height: 16px;
  font-family: 'AktivGrotesk Medium';
  color: #000;
}

.telephone p:empty,
.email p:empty,
.address p:empty {
  margin: 20px;
}

.drop-down-item {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.drop-down-item.active {
  max-height: 1000px;
  transition: max-height 1s ease-in-out;
}


@media (min-width: 1536px) {
  .telephone p,
    .email p,
    .address p {
      font-size: 0.911vw;
      line-height: 1.172vw;
      color: #000;
      font-family: 'Aktiv Grotesk Regular';
    }
  
    .telephone h2,
    .email h2,
    .address h2 {
      font-size: 0.911vw;
      line-height: 1.042vw;
      font-family: 'AktivGrotesk Medium';
      color: #000;
    }
}

.telephone p {
  width: max-content;
}

.telephone p a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #0D988C;
  transition: transform 0.3s ease-out;
  display: block;
}

.telephone p:hover a::after {
  transform-origin: bottom center;
  transform: scaleX(1);
}

