

.telephone p,
.email p,
.address p {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-family: 'Aktiv Grotesk Regular';
  position: relative;
}

.telephone h2 ,
.email h2 ,
.address h2 {
  font-size: 14px;
  line-height: 16px;
  font-family: 'AktivGrotesk Medium';
  color: #000;
}

.telephone p:empty,
.email p:empty,
.address p:empty {
  margin: 20px;
}

.drop-down-item {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.drop-down-item.active {
  max-height: 1000px;
  transition: max-height 1s ease-in-out;
}


@media (min-width: 1536px) {
  .telephone p,
    .email p,
    .address p {
      font-size: 0.911vw;
      line-height: 1.172vw;
      color: #000;
      font-family: 'Aktiv Grotesk Regular';
    }
  
    .telephone h2,
    .email h2,
    .address h2 {
      font-size: 0.911vw;
      line-height: 1.042vw;
      font-family: 'AktivGrotesk Medium';
      color: #000;
    }
}

.telephone p {
  width: max-content;
}

.telephone p a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #0D988C;
  transition: transform 0.3s ease-out;
  display: block;
}

.telephone p:hover a::after {
  transform-origin: bottom center;
  transform: scaleX(1);
}

